/*  */
/*  --- Zerando parâmetros --- */
/*  */
* {
  padding: 0px;
  border: 0px;
  margin: 0px;
  box-sizing: border-box;
}

/*  */
/*  --- Definindo variáveis --- */
/*  */
:root {
  --fundo-cabecalho: #ccccccc7;
  --fundo-formulario: #e4aeae9d;
  --destaque: #df0c0c;
  --borda: #000;
  --hover: #dddde0;
  --letra-cabecalho: #333;
  --font1: Arial, Helvetica, sans-serif;
  --font2: "Courier New", Courier, monospace, Helvetica, sans-serif;
}

/*  */
/*  --- fundo e responsividade --- */
/*  */
body {
  background-color: var(--fundo);
  max-width: 100vw;
  max-height: 100vh;
}

/*  */
/*  --- definindo cor cabeçalhos --- */
/*  */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--letra-cabecalho);
}

/*  */
/*  --- delimitando largura campos de input --- */
/*  */
input[type="text"],
input[type="date"],
input[type="number"],
input[type="file"],
textarea {
  width: 60vw;
}

/*  */
/*  --- delimitando espacamento campos descrição --- */
/*  */
textarea {
  padding: 10px 5px;
  border: 1px solid var(--borda);
}

/*  */
/*  --- definindo o cabeçalho e importando a imagem de fundo--- */
/*  */
.header {
  height: 100px;
  background-image: url(/Projeto-venda-carro/img/venda-banner.png);
  border: 2px solid var(--destaque);
  position: relative;
}

/*  */
/*  --- definindo o parágrafo do cabeçalho --- */
/*  */
.header p {
  color: var(--destaque);
  text-align: center;
  padding: 5px;
  font-weight: bolder;
  font-size: 1.4em;
  text-transform: uppercase;
  background-color: var(--fundo-cabecalho);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 800px)  {
  .header p {
    font-size: 1.0em;
  }
}


/*  */
/*  --- definindo o fundo do formulário --- */
/*  */
.form-container {
  background-color: var(--fundo-formulario);
  width: 80vw;
  height: auto;
  margin: 50px auto;
}

/*  */
/*  --- definições do cabeçalho do formulário --- */
/*  */
.sub-header {
  text-align: center;
}

.sub-header h2 {
  border-bottom: 1px solid var(--destaque);
  height: 45px;
  line-height: 45px;
  text-transform: capitalize;
}

.sub-header p {
  display: inline;
  line-height: 45px;
}

/*  */
/*  --- definindo espaçamentos dos campos de dados --- */
/*  */
.input-box {
  padding: 20px 20px;
}

/*  */
/*  --- cor do destaque de campo requerido --- */
/*  */
.requerido {
  color: var(--destaque);
}

/*  */
/*  --- colocando descrição e entrada do dado um abaaixo do outro --- */
/*  */
.block {
  display: block;
  padding: 5px;
  margin-top: 5px;
  border-bottom: 1px solid var(--borda);
  background-color: transparent;
  cursor: pointer;
}

p {
  padding-bottom: 10px;
}

/*  */
/*  --- definições dos opicionais e formaatação --- */
/*  */
.options-box {
  display: inline;
  padding: 20px 20px;
}

.options-box p,
li {
  padding-left: 20px;
}

.lista {
  list-style: none;
  columns: 3;
}

@media screen and (max-width: 800px) {
  .lista {
    columns: 2;
  }
}


/*  */
/*  --- botões de ação --- */
/*  */
.btn {
  padding: 10px;
  margin-right: 20px;
  border: 1px solid var(--borda);
  border-radius: 5px;
  
}

.btn:hover {
  background-color: var(--hover);
  box-shadow: 1px 1px 10px 2px var(--destaque);

}

/*  */
/*  --- rodapé do formulário --- */
/*  */
.developer {
  padding-top: 50px;
  text-align: center;
}