* {
    padding: 0px;
    border: 0px;
    margin: 0px;
    box-sizing: border-box;
}

:root {
    --fundo-cabecalho: #2424dd;
    --fundo: #ece5e5;
    --fundo-formulario: #fff;
    --requerido: red;
    --borda: #000;
    --subtitulo: #8a8af3;
    --subtitulo-borda: rgba(36, 36, 222, 0.096);
    --letra-cabecalho: #fff;
    --font1: Arial, Helvetica, sans-serif;
    --font2: 'Courier New', Courier, monospace, Helvetica, sans-serif;
}

body {
    background-color: var(--fundo);
    max-width: 100vw;
    max-height: 100vh;

}

header {
    background-color: var(--fundo-cabecalho);
    width: 100vw;
    height: 10vh;
    font-family: var(--font2);
    font-size: 1em;
    font-weight: bolder;
    color: var(--letra-cabecalho);
    padding: 20px;
    text-align: center;
}

main {
  background-color: var(--fundo-formulario);
  position: absolute;
  top: 7VH;
  left: 10vw;
}
.subtitulo {
    color: var(--subtitulo) ;
    text-transform: uppercase;
    text-align: center;
    padding: 5px;
    border-bottom: 1px groove var(--subtitulo-borda);  
}
p {
    font-family: var(--font1);
    padding-left: 30px;
    font-style: normal ;
}

.destaque {
    font-size: 2em;
    font-style: bold;
    padding-top: 30px;
    padding-bottom: 15px;
} 
form {
    padding-left: 30px;
}
label {
    display: block;
    padding-top: 30px;
    padding-bottom: 10px;
}
input {
    border-bottom: 1px dotted var(--requerido);
    padding-bottom: 10px;
    
}

textarea {
    border: 1px dotted var(--requerido);
    width: 400px;
    height: 100px;
}

select {
    border: 1px dotted var(--requerido);
}
.requerido {
    color: var(--requerido);
}
.inline {
    display: inline-block;
}

.col2 {
    position: relative;
    left: 200px;
    top: -230px;
}
